.header 
    .i.fa.fa-exchange.fa-lg.toggle-sidebar
    .dropdown.notification-container
        i.fa.fa-bell.fa-lg.toggle-notification#notifications(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .noti-head 
                | notification 
                span 50
            .noti-content 
                ul.list-unstyled 
                    li 
                        i.fa.fa-envelope.fa-lg
                        | you got email from  (me@me.com)
                    li 
                        i.fa.fa-microphone.fa-lg.fa-fw 
                        | you got voice message from Marck
                    li 
                        i.fa.fa-money.fa-lg
                        | you have paid from  Alien
                    li 
                        i.fa.fa-thumbs-up.fa-lg
                        | you got like from Medo
                    li 
                        i.fa.fa-trophy.fa-lg 
                        | you got a package from  Soha
                        
            .noti-foot.text-center: a(href="#") View all notifications
    .dropdown.usermenu-container
        .username#usermenu(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            img.avatar(src="/imgs/avatar.jpg" alt="user avatar")
            span.user Ashraf Eid 
            i.fa.fa-angle-down.fa-lg
        .dropdown-menu.dropdown-menu-right(aria-labelledby='usermenu')
            .user-info 
                h3 Ashraf Eid 
                p Premium member 
            hr
            ul.activities-list.list-unstyled 
                li Added comment on post "how to make landing page"
                li Created post on category "Science"
                li Created chart on chart page
                li Added comment on post "how to make Admin page"
            hr
            .row.usermenu-links
                .col 
                    .link-box  
                        i.fa.fa-gear.fa-lg.fa-fw
                        span settings 
                .col 
                    .link-box  
                        i.fa.fa-user.fa-lg.fa-fw
                        span My Profile
                .col 
                    .link-box 
                        i.fa.fa-power-off.fa-lg.fa-fw
                        span Logout 
            

