.settings-box.hide-settings
    i.fa.fa-gear.fa-lg.toggle-settings
    .settings-content 
        .option-box
            h4 color options
        .option-box
            h4 font options
        .option-box
            h4 sidebar options